# Rust
/target

# Node
ui/node_modules
ui/dist

# Tauri
src-tauri/target
gen/

# Logs
*.log

# App State
desktop-state.json
desktop-config.json
rustatio.toml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# hk local overrides
hk.local.pkl

# Config (optional - uncomment if you don't want to commit user configs)
# rustatio.toml

flatpak

nyaa_torrents/
torrents/
